# Ignore everything in these folders
.gradle/
app/build/
build/
bin/
gen/
out/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath

# Local configuration
local.properties
captures/
.externalNativeBuild/
.cxx/

# Android files
*.apk
*.ap_
*.dex
*.class
